<%= form_tag "/events/#{params[:id]}", :method => :put  do %>

  <label>Image Url:</label>
  <input type="text" name="image_url" value="<%= @event.image_url %>"/>

  <label>Date:</label>
  <input type="text" name="date" value="<%= @event.date %>"/>

  <label>Title:</label>
  <input type="text" name="title" value="<%= @event.title %>"/>

  <label>Speaker:</label>
  <input type="text" name="speaker" value="<%= @event.speaker %>"/>

  <label>Campus id:</label>
  <input type="text" name="campus_id" value="<%= @event.campus_id %>"/>

  <label>Address:</label>
  <input type="text" name="address" value="<%= @event.address %>"/>

  <button>Edit</button>
<% end %>


