<h2 class="upcoming-title">Upcoming Event</h2>
<% Event.all.each do |event|%>
  <div class="upcoming-info">
    <div>
      <a href="/events/<%= event.id %>"><%= image_tag(event.image_url, style: 'display: block; width: 230px; height: 200px;') %></a>
    </div>
    <div class="upcoming-description">
      <p>Date: <%= event.date.strftime('%d-%m-%Y') %></p>
      <p>Time: <%= event.date.strftime('%l:%M') %>PM</p>
      <p>Speaker: <%= event.speaker %></p>
      <p>Location: <%= event.campus.address%></p>
    </div>
  </div>
<% end %>

<% if current_user && current_user.is_admin %>
  <div>
    <%= link_to new_event_url(@event), class: "btn btn-primary btn-md", id: "event-create" do %>
        Add
    <% end %> 
  </div>
<% end %>