<h2 class="bridge-news-title">Bridge Church News</h2>
  <% News.all.each do |news| %>
    <div class="news-info">
      <div>
        <a href="/news/<%= news.id %>"><%= image_tag(news.image_url, style: 'display: block; width: 230px; height: 200px; border-radius: 50%;') %></a>
      </div>
      <div class="news-description">
        <p>Date: <%= news.date.strftime('%d-%m-%Y') %></p>
        <p>Title: <%= news.title %></p>
        <p>Description: <%= news.description %></p>
        <p>Location: <%= news.campus.address %></p>
      </div>
    </div>
  <% end %>

<% if current_user && current_user.is_admin %>
  <div>
    <%= link_to new_news_url(@news), class: "btn btn-primary btn-md", id: "event-create" do %>
        Add
    <% end %> 
  </div>
<% end %>
