<%= form_tag '/news', class: "text-center border border-light p-5" do %>

  <h3 class="bridge-news-title">CREATE NEWS</h3>

  <div class="template">
  <div class="form-group">
    <%= label_tag 'Image Url' %>
    <%= text_field_tag 'image_url', nil, placeholder: "Type image url", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'Date' %>
    <%= text_field_tag 'date', nil, placeholder: "2019-08-08 20:00", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'Title' %>
    <%= text_field_tag 'title', nil, placeholder: "Type title", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'Description' %>
    <%= text_field_tag 'description', nil, placeholder: "Type description", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'Campus id' %>
    <%= text_field_tag 'campus_id', nil, placeholder: "Type campus id", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= button_tag "Create", class: "btn btn-primary btn-md", id: "button" %>
  </div>
</div>
<% end %>