<h2 class="location">Location</h2>
<% church_campuses = ['West Campus','City Campus','East Campus','South Campus','Bangkok Campus']%>

<% Campus.all.each_with_index do |campus, i| %>
  <div class="each-campus">
    <div>
      <%= image_tag(campus.image_url, style: "display: block; margin: 0 auto; width: 60%; height: auto; border-radius: 50%") %>
    </div>
    <div class="campus-info">
      <h2 class="campus-name"><%= church_campuses[i] %></h2>
      <h4 class="service-time">Service Times</h4>
      <p>EVERY <%= campus.service_days.map {|date| date.strftime('%A') }.uniq.join.upcase %></p>
      <%= campus.service_times.map { |time| time.strftime('%l:%M') }.join(', ') %>
      <h4 class="campus-location">Location</h4>
      <%= campus.address %>
    </div>
  </div>
<% end %>
