<h2 class="location">Location</h2>
<% church_campuses = ['West Campus','City Campus','East Campus','South Campus','Bangkok Campus']%>

<% Campus.all.each_with_index do |campus, i| %>
  <div class="each-campus">
    <div>
      <%= image_tag(campus.image_url, style: "display: block; margin: 0 auto; width: 60%; height: auto; border-radius: 50%") %>
    </div>
    <div class="campus-info">
      <h2 class="campus-name"><%= church_campuses[i] %></h2>
      <% service_time = [] %>
      <% service_day = [] %>
      <% campus.service.each do |service| %>
        <% campuses = Service.all.map {|service| service.campus_id } %>
          <% service_time << service.start_time  %>
          <% service_day << service.day_of_week %>
      <% end %>

      <h4>Service Times</h4>
      <p>EVERY <%= service_day.uniq.join.upcase %></p>
      <%= service_time.map {|time| time.to_s+ ":00"}.join(", ") %>
      <h4 class="campus-location">Location</h4>
      <%= campus.address %>
    </div>
  </div>
<% end %>
