<%= form_tag @podcast, :method => :put, class: "text-center border border-light p-5" do %>

<h3 id="podcast-title">EDIT PODCAST</h3>

<div class="template">
  <div class="form-group">
    <%= label_tag 'Date' %>
    <%= text_field_tag 'date', @podcast.date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'Title' %>
    <%= text_field_tag 'title', @podcast.title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'Url' %>
    <%= text_field_tag 'url', @podcast.url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'Campus id' %>
    <%= text_field_tag 'campus_id', @podcast.campus_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= button_tag "Edit", class: "btn btn-primary btn-md", id: "button" %>
  </div>
</div>
<% end %>