<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <title>BridgeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Bridge Church</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "Events", "/#sectionUpcoming", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "News", "/#sectionNews", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Podcasts", "/#sectionPodcast", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Locations", "/campus", class: "nav-link" %>
      </li>
    </ul>
    <div class="navbar-nav">
      <% if current_user %>
        <li class="nav-item"><span class="nav-link" id="username"><%= current_user.name.capitalize %></span></li>
        <li class="nav-item">
          <%= link_to "Logout", "/users/logout", class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", "/users/login", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", "/users/sign_up", class: "nav-link" %>
        </li>
      <% end %>
    </div>
  </div>
</nav>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
    <footer>
    </footer>
  </body>
</html>
